@charset "utf-8";

body {
  margin: 0;
  font-family: "Hiragino Sans","ヒラギノ角ゴシック"; font-weight: 200;
  color: rgb(0 30 85);
}

h2, h3, p {
    color: inherit;
}

header {
  height: 120px;
  display: flex;
  align-items: center;
}

header img{
  margin: 24px;
}

nav {
  margin: auto 16px auto auto;
  margin-left: auto;
}

li{
  list-style: none;
  display: flex;
}

img{
  padding: 24px;
  display: flex;
}

ul{
  margin: auto;
  text-align: center;
}

a{
  margin: 0;
  display: flex;
  text-decoration: none;
  text-align: center;
  align-items: center;
  color: rgb(0 30 85);
}

nav a:hover{
  background-color: #ccc;
}

.container {
  display: flex;
}

main {
  flex: 1;
  padding: 24px;
}

@media(max-width: 400px){

}
h2{
  margin:12px;
  padding: 0;
  font-weight: inherit;
}

article {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 12px;
}

article:nth-child(even){
  flex-direction: row-reverse;
}

.text{
    min-width: 600px;
}
img{
  margin: 0;
}

aside {
  width: max-content;
  padding: 12px;
}

.announcement{
  margin: 16px  auto;
}

footer {
  background-color: cadetblue;
}