@charset "utf-8";

body {
  margin: 0;
  font-family: "Hiragino Sans","ヒラギノ角ゴシック"; font-weight: 200;
  color: rgb(0 30 85);
}

h2, h3, p {
  color: inherit;
}

header {
  margin: 0;
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: white;

}

header img{
  margin: 12px 24px;
}


ul{
  margin: 0 24px;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 32px;
  justify-content:center;
}

img{
  display: flex;
}

a{
  margin: 0;
  display: flex;
  text-decoration: none;
  text-align: center;
  align-items: center;
  color: rgb(0 30 85);
}

nav a:hover{
  background-color: #ccc;
}

.container{
  display: flex;
  padding-top: 144px;
}

main {
  margin: 0;
  flex: 1;
  padding: 24px;
  background-color: pink;
}

h2{
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

article {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 12px;
}

article:nth-child(even){
  flex-direction: row-reverse;
}

.text{
    min-width: 400px;
    box-sizing: border-box;
}
img{
  margin: 0 auto;
}

aside {
  width: max-content;
  padding: 12px;
}

.announcement{
  margin: 16px  auto;
}

footer {
  background-color: cadetblue;
}

@media(max-width: 412px){
  header{
    display: block;
  }

  header a{
    justify-content: center;
  }

  header nav{
    justify-content: center;
  }

  .container{
    padding-top: 168px;
  }
  main{
    display: block;
  }

  aside{
    display: none;
  }
  article{
    display: block;
  }

  main p, main h2, main h3, main img{
    width: 320px;
    margin: 24px auto 0;
    
  }
}